@font-face {
    font-family: 'Cloudy Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cloudy Regular'), url('../fonts/CLOUDY\ FONT.woff') format('woff');
}

.cloudyFont {

    font-family: 'Cloudy Regular';

}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden; 
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 0;
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
   }

#logoImage {

    width: 120px;
}

.textTitle {

    font-size: 2.5rem ;
    /*overflow-wrap: break-word ;*/

}




@media screen and (min-width:1408px) {

    .circle {

        height: 300px;
        width: 300px;
    }
}